@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

.logo {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: var(--fs-7xl);
    text-align: left;
    font-weight: 600;
    color: var(--color-orange);
}

.logo1 {
    color: var(--color-black);
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 600;
    line-height: 45.77px;
    text-align: left;
}

.navlink {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    color: var(--color-black);
}

.menu {
    position: fixed;
    box-shadow: 0px 1px 10px 0px #0000001A;
    padding: 15px;
    top: 0%;
    left: 0%;
    z-index: 10;
    background-color: var(--color-white);
}

.bgclr {
    background-color: var(--color-FFF7F4);
}

.sec1head {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: var(--color-black);
    max-width: 440px;
    margin-top: 130px;
}

.mt-130 {
    margin-top: 130px;
}

.sec1-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-7B7B7B);
    max-width: 493px;
    margin-top: 24px;
}

.head2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: var(--color-orange);
}

.pt-130 {
    padding-top: 130px;
}

.pb-130 {
    padding-bottom: 130px;
}

.btn1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: var(--color-orange);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    margin-top: 50px;
}

.side-icon {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px 0px #0000001A;
}

.align1 {
    top: 40%;
    right: -100%;
    transition: all 1s linear;
}

.icon-hover:hover .align1 {
    right: 1%;
}

.side-icon:hover svg path {
    fill: white;
}

.side-icon:hover {
    background-color: var(--color-orange);
}

.about {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 500;
    line-height: 24.72px;
    text-align: left;
    color: var(--color-7B7B7B);
}

.sec2-head {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
    color: var(--color-black);
}

.heading2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 600;
    line-height: 48.28px;
    text-align: left;
    color: var(--color-orange);
}

.sec2-txt {
    font-family: " Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: var(--color-7B7B7B);
    margin-top: 18px;
}

.circle {
    width: 70px;
    height: 70px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    background-color: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    max-width: 206px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
}

.box {
    box-shadow: 0px 1px 10px 0px #0000001A;
    width: 100%;
    padding: 20px;
}

.circle2 {
    width: 70px;
    height: 70px;
    box-shadow: 4px 5px 15px 0px #00000066;
    background-color: var(--color-7B7B7B);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.circle3 {
    width: 70px;
    height: 70px;
    background-color: var(--color-00ACFF);
    display: flex;
    box-shadow: 4px 5px 15px 0px #00C2FF66;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.circle4 {
    width: 70px;
    height: 70px;
    background-color: var(--color-black);
    display: flex;
    box-shadow: 4px 5px 15px 0px #00000066;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.box-num {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-8xl);
    font-weight: 700;
    line-height: 59.33px;
    text-align: left;
    color: var(--color-black);
}

.box-txt {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.72px;
    text-align: left;
    color: var(--color-7B7B7B);
}

.mainbox {
    width: 100%;
    box-shadow: 0px 1px 10px 0px #0000001A;
    background-color: var(--color-white);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt-24 {
    margin-top: 24px;
}

.mt-80 {
    margin-top: 80px;
}

:root {
    /* font-size */
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-15: 15px;
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 22px;
    --fs-4xl: 25px;
    --fs-5xl: 32px;
    --fs-6xl: 39px;
    --fs-7xl: 44px;
    --fs-8xl: 48px;
    /* color */
    --color-white: white;
    --color-black: #373737;
    --color-orange: #FF5300;
    --color-7B7B7B: #7B7B7B;
    --color-FFF7F4: #FFF7F4;
    --color-00ACFF: #00ACFF;
}